.loginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10rem 0;
  .wrapper {
    display: flex;
    justify-content: center;

    form {
      width: 550px;
      height: 350px;
      border-radius: 15px;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      box-shadow: 0px 0px 16px 0 rgb(195 195 195 / 74%);

      .buttonHover{
        font-size: 20px;
        width: 8.5rem;
        height:4.5rem;
        margin-top: 2rem;
        &:hover{
        background-color:#d7d2f9a1 !important;
        border:1px solid #9789ff !important;
        }
      }
    }
  }
}