.wrapper{
  display: flex;

  .categories{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    width: 20%;
    margin-left: 8rem;
    .link{
      margin-bottom: 3rem;
      border-right: 1.5px solid #9789ff;
      padding-right: 0.5rem;
      text-decoration: none;
      color: black;
      &:hover{
        color:#9789ff !important;
      }
    }
    span{
      font-size: 2rem;
      font-weight: 600;
      border-bottom: 2px solid #9789ff;
      padding-bottom: 1rem;
      margin-bottom: 5rem;
    }
  }
  .categoryCard{
    width: 70%;
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 20px 15px;
    grid-template-areas:
    ". . .";
  }
}
.page{
  display: flex;
  justify-content:center;
  margin: 3rem 27rem 2rem 0;
}

