.wrapper{
  box-shadow: 0 0 16px 0 rgb(195 195 195 / 74%);
  padding: 4rem;
  width: 48%;

  .title{
    font-size: 1.6rem;
    font-weight: 600;
  }
  .table{
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
  .totalPrice {
    font-size: 1.5rem;
  }

}